{% extends 'base.html' %}

{% block title %}Heligeom - Help{% endblock %}

{% block content %}


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m9 l10">

        <div  class="section scrollspy" id="about" style="padding-top: 0px;">
          <h2 class="header light blue-grey-text text-darken-3">About Heligeom</h2>


          <p>
          Heligeom aims at characterizing, manipulating and assembling structural units with a screw organization, and in which the structural units may be individual proteins or protein hetero-multimers.<br/>
          Heligeom relies on the structures of monomer-monomer interfaces both for deriving the transformations and for filament construction. <br />
          </p>


        </div> <!-- end div scrollspy -->


      </div> <!-- end div col s12 m9 l10-->

    <div class="col hide-on-small-only m3 l2">
      <div class="pinned" style="top: 70px;">
        <ul class="section table-of-contents">
          <li><a href="#about">About</a></li>
          <!-- <li><a href="#run">Run page</a></li>
          <li><a href="#1_oligo">Results for 1 oligomer</a></li>
          <li><a href="#2_oligo">Results for 2 oligomers</a></li> -->
        </ul>
      </div>
    </div> <!-- end div col hide-on-small-only m3 l2-->


    </div> <!-- end div row-->
  </div> <!-- end div section-->
</div> <!-- end div container-->
{% endblock %}
