<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}Home{% endblock %}</title>

  <!-- Illustration from NIAID Visual & Medical Arts. 08/28/2024. Filovirus. NIAID BIOART Source. bioart.niaid.nih.gov/bioart/2182 -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='img/favico/apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favico/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img/favico/favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static', filename='img/favico/site.webmanifest')}}">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- MOLSTAR Web Component -->
  <!-- Required for IE11 -->
  <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
  <!-- Web component polyfill (only loads what it needs) -->
  <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs/webcomponents-lite.js" charset="utf-8"></script>
  <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
  <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js" charset="utf-8"></script>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pdbe-molstar@3.3.0/build/pdbe-molstar-light.css" />
  <!-- JS -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pdbe-molstar@3.3.0/build/pdbe-molstar-component.js"></script>
<!-- END MOLSTAR Web Component -->


</head>
<body>
    <div class="content">
    {% include "navbar.html" %}

    {% block content %}{% endblock %}

    </div>
    {% include "footer.html" %}
</body>
</html>
