{% extends 'base.html' %}

{% block title %}Heligeom - Help{% endblock %}

{% block content %}


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m9 l10">
        <h2 class="header light blue-grey-text text-darken-3">Documentation</h2>



        <div class="section scrollspy" id="run" style="padding-top: 0px;">
          <h3 class="title_card_results">Run Page</h3>

          <h5 class="header">1 - First Oligomeric form</h5>
          <div class="center-align img_help" style="padding-top: 10px;">
            <img class="responsive-img" src="{{ url_for('static', filename='img/run_1.png')}}"style="max-width:80%;">
          </div>
          <p>
            The input form is organised in two parts: the <span style="color: #4472c4">Input data</span>
            and the <span style="color: #ed7d31">Selection</span>. <br />
            <br />
            In the <span style="color: #4472c4">Input data</span>, you can either:
            <ul class="browser-default">
              <li>choose an input file. Only the PDB format is accepted.</li>
              <li>select a PDB id taken from <a href="https://www.rcsb.org/">https://www.rcsb.org/</a></li>
            </ul>
            From this input PDB, in the <span style="color: #ed7d31">Selection</span> section, you'll need to define the two monomers for which the interface and the Screw parameters will be computed.<br />
            <b>Note: A <i>cleaning</i> step is performed in which all HETATM and water atoms are discarded from the input PDB.</b><br />
            For each monomer you can specify the chain, the residue range, or both.<br />
            <b><i class="tiny material-icons valign">priority_high</i>Only the α-Carbon of the monomers will be used for computing the helical parameters. Both monomers needs to have the same number.</b><i class="tiny material-icons valign">priority_high</i>
          </p>
          <p>
            <b>Core Region:</b> A core region is a specific region of the monomer which will be used to compute the helical parameters and the residues at the interface.<br>
            <b><i class="tiny material-icons valign">priority_high</i>Careful! Even if a core is defined, during the construction of an oligomer the whole monomer will be used, not just the core region.</b><i class="tiny material-icons valign">priority_high</i>
          </p>

          <h6 class="header">Missing Residues</h6>

          <p>
            Heligeom can handle missing residues in one monomer compared to the other:
            <ul class="browser-default">
              <li>if only the chain is provided, any missing residues inside that chain are handled.</li>
              <li>if residue ranges are provided: any missing residues at the beginning or end are also handled assuming the same residue numbering difference applies throughout the ranges. For example, if residue ranges <i>1-300</i> and <i>301-600</i> are specified, then all residues in each monomer having a residue id difference of 300 will be retained for the helical parameter analysis.
            </ul>
          </p>


          <h6 class="header">Non-protein atoms</h6>

          <p>
            As stated above, all HETATM and waters atoms are discarded from the input before the selection process.<br />
            If one wishes to keep non-protein atoms for the oligomer construction step, we suggest renaming the corresponding atom lines in the PDB file from "HETATM" to "ATOM&nbsp;&nbsp;". They will not be used for the Screw calculation because only α-Carbon monomers are handled.
          </p>

        </div>

        <div>
          <h5 class="header">2 - 2nd Oligomeric form (Optional)</h5>

          <p>
            Helligeom allows you also to compare 2 interfaces by specifying a second interface.<br />
            To do so, you must click on the text <i>2nd oligomeric form?</i>, and a new input form as for the first oligomeric form will appear.
          </p>

          <div class="center-align img_help">
            <img class="responsive-img" src="{{ url_for('static', filename='img/run_3.png')}}"style="max-width:80%;">
          </div>
        </div>

        <div>
          <h5 class="header">3 - Run</h5>

          <p>
            Clicking on the <i>Analyze</i> button starts the computation. The Results page is displayed once the calculation is scomplete.
          </p>
          <div class="center-align img_help">
            <img class="responsive-img" src="{{ url_for('static', filename='img/run_4.png')}}"style="max-width:80%;">
          </div>
        </div>

        <div class="divider"></div>

        <div  class="section scrollspy" id="1_oligo">
          <h3 class="title_card_results" id="1_oligo">Results Page with 1 Oligomer</h3>

          <h5 class="header">Contacts at the interface</h5>
          <div class="center-align img_help">
            <img class="responsive-img" src="{{ url_for('static', filename='img/result_1_up.png')}}"style="max-width:80%;">
          </div>
          <p>
            On the left, <b>Heligeom</b> displays a summary of the input parameters. <br />
            For each monomer, you will see the specified chains, the residues ranges, and the core regions.
            If any field is not specified, the word "Unspecified" is displayed instead. <br />

            On the right, there is a <a href="https://molstar.org/">Mol*</a> visualisation depicting:
            <ul class="browser-default">
              <li>the two monomers selected by the user represented as <i>Cartoon</i> and whose colors match their respective titles on the left.</li>
              <li>the residues in contact at the interface, represented as <i>ball and stick</i></li>
            </ul>

          </p>
          <p>
            <b>List of contacts:</b> The list of contacts can be downloaded by clicking <i>Download list of contacts</i>.<br />
            A contact is defined when 2 heavy atoms, one from each monomer, are at a distance < 5&#8491;.
          </p>


        <div>
          <h5 class="header">Helical parameters</h5>

          <div class="center-align img_help">
            <img class="responsive-img" src="{{ url_for('static', filename='img/result_1_mid.png')}}"style="max-width:80%;">
          </div>
          <p>
            <b>Heligeom</b> displays the helical parameters computed from the 2 provided monomers.
            It refers to the <a href="{{ url_for('heligeom_bp.homepage', _anchor='screw') }}">screw calculation</a>.<br>
            <b><i class="tiny material-icons valign">priority_high</i>This calculation is based solely on the α-Carbons of the monomers.</b><i class="tiny material-icons valign">priority_high</i>
          </p>
          <div class="row">
            <div class="col s12 m6 l6">
              On the left:
              <ul class="browser-default">
                <li>The <b>pitch</b> is the distance of one helix turn along the helix axis.</li>
                <li>The <b>monomers per turn</b> is the number of monomers needed for <b>1</b> turn of the helix.</li>
                <li>The <b>Handedness</b> is the direction of rotation around the axis.</li>
                <li>The 2 distances (<b>IntR</b> and <b>ExtR</b>) are the minimal and maximal distances between the screw axis and the atoms of the oligomer.</li>
              </ul>
              <p>
              On the right:
              <ul class="browser-default">
               <li>The parameters of the Screw axis are provided along with a schematic of the parameter definitions. The parameters will be used to construct the oligomer in the next step.</li>
              </ul>
              </p>
            </div>
            <div class="col s12 m4 l4">
              <img class="responsive-img" src="{{ url_for('static', filename='img/helical_parameters_sketch.png')}}"style="max-width:75%;">
            </div>
          </div>
          <p>
            <b>RMSD:</b> The RMSD value of the α-Carbon superposition of the two monomers is displayed.<br />
            Heligeom uses color to provides a hint for interpreting this value depending on the value:
            <ul class="browser-default">
              <li><span class="green-text text-darken-3">RMSD <= 2&#8491;: </span>The RMSD of the superposition is acceptable.</li>
              <li><span class="red-text text-accent-1"">2 < RMSD <= 5&#8491;: </span>The construction of the oligomer could be incorrect.</li>
              <li><span class="red-text">RMSD > 5&#8491;: </span>The construction of the oligomer will lead to incorrect results.</li>
            </ul>
          </p>
        </div>

        <div>
          <h5 class="header">Construction Details</h5>
          <div class="center-align img_help">
            <img class="responsive-img" src="{{ url_for('static', filename='img/result_1_bot_form.png')}}"style="max-width:80%;">
          </div>
          <p>
            Once the helical parameters are computed, <b>Heligeom</b> can construct an oligomer based on them.<br />
            The protocol is
            <ul class="browser-default">
             <li>take the entire Monomer 1 selection (not just the <i>core regions</i>), including non-protein atoms if they are part of the selection.</li>
             <li>create copies of this monomer applying the screw transformation</li>
             <li>repeat the above step to match the number of monomers provided as input.</li>
            </ul>
            <b>Alignment on Z-axis?: </b>This option enables the alignment the oligomer to the global Z-axis.<br />
            <b>Write a mmCIF file?: </b>This option writes the structure file for the oligomer using the mmCIF file format instead of the PDB flat-file format. This is useful when constructing assemblies with more than 62 chains.<br />
            <h6 id="flatten"><b>Flatten the oligomer?</b></h6>
            <div>
              There is also the option to flatten the oligomer by checking the corresponding checkbox.<br>
              The method is described in the <a href="{{ url_for('heligeom_bp.about', _anchor='flatten') }}">About page</a>.<br>
              <b>This computation can take up to several minutes due to the underlying Monte-Carlo calculation.</b><br>
              Once finished, below the visualisation section, Heligeom displays several parameters resulting from the calculation.
            </div>
          </p>
          <br >
          <br >
          Once the construction is finished, an interactive view of the oligomer is displayed below the input form (thanks to <a href="https://molstar.org/">Mol*</a>).
          <div class="center-align img_help">
            <img class="responsive-img" src="{{ url_for('static', filename='img/result_1_bot_visu.png')}}"style="max-width:80%;">
          </div>
          <p>
            By default, the coloring is by monomer. Each monomer will have a different chain, starting by <i>A</i>.<br >
            A set of precomputed visualization buttons is available above the view. <br />
            You can download the PDB file of the generated oligomer to your computer by clicking on the orange button.<br>
          </p>

        </div>
      </div>

        <div class="divider"></div>

        <div  class="section scrollspy" id="2_oligo">
          <h4 class="header light blue-grey-text text-darken-3">Result Page with 2 oligomeric forms</h4>

          <h5 class="header">Results</h5>
          <div class="center-align img_help">
            <img class="responsive-img" src="{{ url_for('static', filename='img/result_2_up.png')}}"style="max-width:80%;">
          </div>
          <p>
            For two oligomeric forms, <b>Heligeom</b> displays the same content that for <a href="{{ url_for('heligeom_bp.help', _anchor='1_oligo') }}">1 Oligomer</a> with a <b>side-by-side</b> view.
          </p>
        </div>

        <div>
          <h5 class="header">Comparison of the interfaces</h5>
          <div class="center-align img_help">
            <img class="responsive-img" src="{{ url_for('static', filename='img/result_2_mid.png')}}"style="max-width:80%;">
          </div>
          <p>
            On the Results page, <b>Heligeom</b> displays some analyses comparing the 2 interfaces.<br>
            <b><font size="+1">fNAT</font></b><br>
            The fNAT is the fraction of residue contact pairs of the 1st interface present in the 2nd interface, as defined
            <a href="{{ url_for('heligeom_bp.homepage', _anchor='interfaces') }}">here</a>.<br>
            Value of 1.0: <b>All</b> of the contacting residue pairs of the 1st interface are present in the 2nd one.<br>
            Value of 0.0: <b>None</b> of the contacting residue pairs of the 1st interface are present in the 2nd one.<br>
          </p>
        </div>

      </div> <!-- end div col s12 m9 l10-->
      <div class="col hide-on-small-only m3 l2">
        <div class="pinned" style="top: 70px;">
        <ul class="section table-of-contents">
          <li><a href="#run">Run page</a></li>
          <li><a href="#1_oligo">Results for 1 oligomer</a></li>
          <li><a href="#2_oligo">Results for 2 oligomers</a></li>
        </ul>
        </div>
      </div>
    </div> <!-- end div row-->
  </div> <!-- end div section-->
</div> <!-- end div container-->



{% endblock %}
