<!-- app/templates/homepage.html -->

{% extends 'base.html' %}

{% block title %}Heligeom{% endblock %}

{% block content %}
<div class="container">

  <div class="section no-pad-bot" id="index-banner">
        <h2 class="header center orange-text text-darken-2">Welcome to Heligeom Webserver</h2>
        <div class="row center">
          <h5 class="header col s12 lbt-dark-grey-text">
            Relating interfaces to supramolecular architectures
          </h5>
        </div>
  </div>

  <div class="divider"></div>

  <div class="section">

    <h3 class="header lbt-grey-text">About</h3>



        <div class="row">
          <div class="col s12 m4">
            <div class="card orange lighten-3">
              <div class="card-content">
                <p><font size="+1">
                  <b>Heligeom</b> aims at characterizing, manipulating and assembling structural units with a screw organization, in which the structural units may be individual proteins or protein hetero-multimers.<br>
                  <br>
                  <b>Heligeom</b> relies on the structures of monomer-monomer interfaces both for deriving the transformations and for filament construction.
                </font></p>
              </div>
            </div>
          </div>
          <div class="col s12 m8">
            <img class="center" src="{{ url_for('static', filename='img/Fig6B_newformatBW.png')}}" style="width: 600px;">
            <figcaption class="center"><i><font size="">Modes of regular association of RecA monomers created by Heligeom [1].</font></i></figcaption>
          </div>

        </div>


      <h5 class="header lbt-grey-text" id="screw">Screw organization</h5>

      <p>
      A regularly organized oligomer is uniquely defined by the geometry of interaction between
      neighboring subunits (where the subunit can be a peptide, a protein or a protein assembly).<br>
      A regular oligomeric assembly necessarily follows a screw organization, and includes helical, 
	  ring, or linear arrangements along the axis.<br>
      The helix is the general case, consisting of a rotation around an axis coupled to a translation along that axis,
	  and can be characterized using parameters such as the pitch, the
      number of monomers per turn and the handedness. A cyclic oligomer, or ring, is a special case of a screw
      assembly in which the pitch is null. The linear (straight) assembly is another special case
	  in which the rotation around the axis is null.<br>
    </p>

    <div class="center-align">
    <img class="responsive-img" src="{{ url_for('static', filename='img/screw_bis.png')}}"style="max-width:40%;">
    </div>

      <h5 class="header lbt-grey-text" id="interfaces">Interfaces</h5>

      <p>
        A binding geometry may be characterized by a set of pairs of amino-acid in contact across the
        interface. Thus different oligomers may be considered to be members of the same family if they
        share a sufficient fraction of contact pairs. <br>
        This ratio is called f<sub>NAT</sub> (fraction of NATive contacts) due to its historical definition
		in protein folding and docking studies, but it can be used more generally to characterize the similarity
        of alternative interfaces.
      </p>

      <div class="center-align">
        <img class="responsive-img" src="{{ url_for('static', filename='img/interfaces.png')}}"style="max-width:70%;">
      </div>


      <h5 class="header lbt-grey-text">References</h5>

      <p>
        [1] Boyer B, Ezelin J, Poulain P, Saladin A, Zacharias M, Robert C H, and Prévost C (2015) An Integrative Approach to the Study of Filamentous Oligomeric Assemblies, with Application to RecA. PLOS ONE 10(3): e0116414.
        <a href=https://doi.org/10.1371/journal.pone.0116414>https://doi.org/10.1371/journal.pone.0116414</a>
      </p>

  </div>
</div>
  {% endblock %}
