{% extends 'base.html' %}

{% block title %}Heligeom - Run{% endblock %}

{% block content %}

  <div class="container">
    <div class="section">

        <h2 class="header light center">Run the Program</h2>
        <div class="col s6 m6 l6 right-align">
          <a class="header waves-effect grey lighten-5 grey-text text-darken-3 btn" href="#"><i class="material-icons left hide-on-small-only">info_outline</i>Example</a>
      </div>

          <form id="" method="POST" action='' class="form" enctype="multipart/form-data">
            {{ form.csrf_token }}
              <div class="card">
                  <div class="card-content">
                      <div class="row">
                          <div class="col s12">
                              <p><b style="font-size: 20px;">Structural Information</b></p>
                          </div>
                          <div class="col s12 light" style="margin:12px">
                            <p>Upload a PDB file containing the two monomeres or enter a PDB accession number.</p>
                            <div class="row">
                              <div class="col s12 m6">
                                <div class="file-field input-field">
                                    <div class="btn-small lbt-gris">
                                        <i class="material-icons right">file_upload</i>
                                        <span>Upload</span>
                                        {{ form.input_file}}
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">

                                    </div>
                                    <span class="helper-text">Submit a molecule in <a href="https://www.wwpdb.org/documentation/file-format">PDB format</a></span>
                                  {% if form.input_file.errors %}
                                    <span class="helper-text" style="color: #F44336;">{{form.input_file.errors}}</span>
                                  {% endif %}
                                </div>
                              </div>
                              <div class="col s6 m2 input-field">
                                {{ form.pdb_id(class_="validate", placeholder="2GLS")}}
                                <label for="pdb_id">PDB Accession</label>
                                {% if form.pdb_id.errors %}
                                  <span class="helper-text" style="color: #F44336;">{{form.pdb_id.errors}}</span>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                          <p>For each monomer, you can specify either the chain of interest or the residue range which define the monomers or both.</p>
                          <div class="col s12 m6">
                            <div class="card hoverable">
                              <div class="card-content">
                                <span class="card-title">Monomer 1</span>
                                <div class="row">
                                  <div class="col s12 m6 input-field">
                                    {{ form.chain1_id(class_="validate", placeholder="A")}}
                                    <label for="chain1_id">Chain ID</label>
                                  </div>
                                  <div class="col s12 m6 input-field">
                                    {{ form.res_range1(class_="validate", placeholder="1-300")}}
                                    <label for="res_range1">Residue Range</label>
                                  </div>
                                </div> <!-- end div row -->
                              </div> <!-- end div card content -->
                            </div> <!-- end div card -->
                          </div> <!-- end div col -->
                          <div class="col s12 m6">
                            <div class="card hoverable">
                              <div class="card-content">
                                <span class="card-title">Monomer 2</span>
                                <div class="row">
                                  <div class="col s12 m6 input-field">
                                    {{ form.chain2_id(class_="validate", placeholder="B")}}
                                    <label for="chain2_id">Chain ID</label>
                                  </div>
                                  <div class="col s12 m6 input-field">
                                    {{ form.res_range2(class_="validate", placeholder="301-600")}}
                                    <label for="res_range2">Residue Range</label>
                                  </div>
                                </div>
                              </div> <!-- end div card content -->
                            </div> <!-- end div card -->
                          </div> <!-- end div col -->
                      </div>
                  </div>
                  <div class="card-action center" style="border-top: none">
                    <button class="waves-effect btn lbt-bleu" type="submit" name="action" value="screw" onclick="load('loader1')">Retrieve Helocoîdal parameters?<i class="material-icons right">send</i></button>
                  </div>
                  <!-- CSS Loader hidden by default. Displayed when hit the above button-->
                  <div class="row hide" id="loader1">
                    <div class="col s4 push-s4">
                      <div class="progress">
                          <div class="indeterminate"></div>
                      </div>
                    </div>
                  </div>
                  <!-- Screw parameters displayed only if requested-->
                  {% if screw_data %}
                    <div class="card-content">
                      <span class="card-title center">Helical parameters for the screw transformation</span>
                      <div class="row">
                        <div class="col s12 m4">
                          <table class="striped">
                            <tbody>
                              <tr>
                                <td><b>Pitch</b></td>
                                <td>{{ screw_data.pitch }} &#8491;</td>
                              </tr>
                              <tr>
                                <td><b>Monomers per turn</b></td>
                                <td>{{ screw_data.nb_monomers }}</td>
                              </tr>
                              <tr>
                                <td><b>Handedness</b></td>
                                <td>{{ screw_data.direction | capitalize }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="col s12 m4">
                          <table class="striped">
                            <tbody>
                              <tr>
                                <td><b>Axis Point (O)</b></td>
                                <td>{{ screw_data.axis_point|join(" ") }}</td>
                              </tr>
                              <tr>
                                <td><b>Rotation Angle (&theta;)</b></td>
                                <td>{{ screw_data.rotation_angle_deg }}&#176;</td>
                              </tr>
                              <tr>
                                <td><b>Translation (trans) </b></td>
                                <td> {{ screw_data.translation }} &#8491;</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="col s12 m4">
                          <img src="{{ url_for('static', filename='img/screw.png') }}"style="width: 200px;">
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  <div class="card-content" style="border-top: 1px solid rgba(160, 160, 160, 0.2)">
                      <div class="row">
                        <div class="col s12" style="margin-bottom: 10px;">
                            <p><b style="font-size: 18px;">Construction Details</b></p>
                        </div>
                        <div class="input-field col s12 m2">
                          {{ form.n_mer(class_="validate", placeholder="10")}}
                          <label>Number of Monomers</label>
                          {% if form.n_mer.errors %}
                            <span class="helper-text" style="color: #F44336;">{{form.n_mer.errors}}</span>
                          {% else %}
                            <span class="helper-text" data-error="Number only" data-success="">Number only</span>
                          {% endif %}
                        </div>
                        <div class="input-field col s12 m3">
                            <label for="z_align">
                              {{ form.z_align }}
                              <span>Alignment on Z-axis?</span>
                            </label>
                        </div>
                      </div>
                      <!-- Remove Drop down menu for now -->
                      <!-- <div class="row">
                        <ul class="collapsible" style="box-shadow: none; border:none;">
                          <li>
                            <div class="collapsible-header" style="border-bottom: 2px solid #02aab3; padding-left:0.75rem;"><b style="font-size: 18px;">Advanced Parameters</b><i class="material-icons">arrow_drop_down</i></div>
                            <div class="collapsible-body" style="border-bottom: none;"><span>Lorem ipsum dolor sit amet.</span></div>
                          </li>
                        </ul>
                      </div> -->
                  </div> <!--  end div card content -->
                  <div class="card-action center">
                      <button class="waves-effect btn lbt-bleu" type="submit" name="action" value="construct" onclick="load('loader2')">Construct<i class="material-icons right">send</i></button>
                  </div>
                  <!-- CSS Loader hidden by default. Displayed when hit the above button-->
                  <div class="row hide" id="loader2">
                    <div class="col s4 push-s4">
                      <div class="progress">
                          <div class="indeterminate"></div>
                      </div>
                    </div>
                  </div>
              </div>
          </form>
        <br />

  </div>
</div>
  {% endblock %}
