{% extends 'base.html' %}

{% block title %}Heligeom - Run{% endblock %}

{% block content %}

<div class="container">
  <div id="content_run" class="section">

    <form method="POST" class="form">
      {{ form.csrf_token }}
      {% import 'macros/forms.html' as forms_macro %}

      <h2 class="header light center">Run Heligeom</h2>
      <div class="row" style="margin-bottom:0px">
        <div class="col s6 m6 l6 left-align" style="padding-left: 0px;">
          <button class="waves-effect  grey lighten-5 grey-text text-darken-3 btn" type="reset"><i class="material-icons left hide-on-small-only">cancel</i>Clear form</button>
        </div>
        <div class="col s6 m6 l6 right-align"style="padding-right: 0px;">
          <button class="header waves-effect grey lighten-5 grey-text text-darken-3 btn" id="example"><i class="material-icons left hide-on-small-only">info_outline</i>Example</button>
        </div>
      </div>


      <div class="card">
          <div class="card-content">
              <div class="row">
                  <div class="col s12">
                      <p><b style="font-size: 20px;">1st Oligomeric form</b></p>
                  </div>

                    {{ forms_macro.input_structure(form.input_file, form.pdb_id)}}

                  <p>For each monomer, you can specify either the <b>chain of interest</b> or/and the <b>residue range</b> which define the monomers or <b>both</b>.</p>
                  <p><b>Note:</b> The tool can handle missing residues within the selection (to manage flexible/unstructured sections).</p>
                    <p>In this case, The 2 monomers <b>must</b> have a residue range filled with the same gap (i.e <i>1-300</i> and <i>301-600</i>).</p>
                  <br>
                  <div class="col s12 m6">
                    {{ forms_macro.monomer_card(1, form.chain1_id, form.res_range1) }}
                  </div> <!-- end div col -->
                  <div class="col s12 m6">
                    {{ forms_macro.monomer_card(2, form.chain2_id, form.res_range2) }}
                  </div> <!-- end div col -->
                  <div class="row">
                    <ul class="collapsible" style="box-shadow: none; border:none;" >
                      <li>
                        <div class="collapsible-header" style="display: block;"><b style="font-size: 20px;">2nd Oligomeric form?</b><i class="material-icons">arrow_drop_down</i>
                          <p>You can specify a second couple of monomers to define another interface and compare it to the first one.</p>
                        </div>

                        <!-- Keep the collapsible extended when the user selected a 2nd assembly and ask for helical parameters -->
                        {% if screw_data_bis or form.input_file_2nd.errors or form.pdb_id_2nd.errors or form.chain1bis_id.errors or form.chain2bis_id.errors
                            or form.res_range1bis.errors or form.res_range2bis.errors %}
                          <div class="collapsible-body" style="padding-left: 0px; border-bottom: none; display: block;">
                        {% else %}
                          <div class="collapsible-body" style="padding-left: 0px; border-bottom: none;">
                        {% endif %}

                        <p class="red-text light"><b>Leave it blanck to use the structure defined in the first oligomeric form.</b></p>
                        {{ forms_macro.input_structure(form.input_file_2nd, form.pdb_id_2nd)}}

                        <p>For each monomer, you can specify either the <b>chain of interest</b> or/and the <b>residue range</b> which define the monomers or <b>both</b>.</p>
                        <p><b>Note:</b> The tool can handle missing residues within the selection (to manage flexible/unstructured sections).</p>
                          <p>In this case, The 2 monomers <b>must</b> have a residue range filled with the same gap (i.e <i>1-300</i> and <i>301-600</i>).</p>
                        <br>
                          <div class="col s12 m6">
                            {{ forms_macro.monomer_card("1 bis", form.chain1bis_id, form.res_range1bis) }}
                          </div> <!-- end div col -->
                          <div class="col s12 m6">
                            {{ forms_macro.monomer_card("2 bis", form.chain2bis_id, form.res_range2bis) }}
                          </div> <!-- end div col -->
                        </div>
                      </li>
                    </ul>
                  </div>
              </div> <!-- end div row -->
          </div> <!-- end div card content -->

          <div class="card-action center">
              <button class="waves-effect btn lbt-bleu" type="submit" name="action" onclick="loading()">Analyze<i class="material-icons right">send</i></button>
          </div>

        </div> <!-- end div card -->

    </form>
      <br />

  </div> <!-- end section -->

  {% include "partial/loading.html" %}


</div> <!-- end container -->

{% endblock %}
