[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pylint-flask-sqlalchemy = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
pytest = "*"
flask-cors = "*"
attrs = "*"
pyyaml = "*"
scipy = "*"
numpy = "*"
hypothesis = "*"
mypy = "*"
types-pyyaml = "*"
ptools = {editable = true, path = "./ptools-python"}

[requires]
python_version = "3.11"
