[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
pylint-flask-sqlalchemy = "*"
types-flask-cors = "*"
types-pyyaml = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
attrs = "*"
pyyaml = "*"
scipy = "*"
numpy = "*"
hypothesis = "*"
ptools = {editable = true, path = "./ptools-python"}
ruff = "*"
line-profiler = "*"
snakeviz = "*"
flask-debugtoolbar-lineprofilerpanel = "*"

[requires]
python_version = "3.12"
