[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pylint-flask-sqlalchemy = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
ptools = {editable = true, path = "./ptools-python"}
pytest = "*"

[requires]
python_version = "3.9"
