/* Custom Stylesheet */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

/* For sticky footer to the bottom */
html, body {
  height: 100%;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

td {
  padding: 5px 5px;
}

/* To get the navbar to the left */
.nav-left {
  margin-left: 200px;
}

.lbt-gris {
  background: #333333;
}

.lbt-bleu {
  background-color: #02aab3;
}


/* Customize footer */
.page-footer {
  background-color: #333333;
}

.page-footer h5 {
  color: #ccb89d;
}
.page-footer p {
  color: #BFBFBF;
  line-height: 1.6;
}

.page-footer a {
  color: #BFBFBF;
  line-height: 1.6;
  text-decoration: underline;
}

.page-footer  img {
  max-width: 100%;
  box-sizing: border-box;
}

.logos {
  justify-content: center;
  align-items: center;
}

.logos img {
  width: 100px;

}

.contacts img {
  max-width: 100%;
  box-sizing: border-box;
}


.contact-icons {
  position: relative;
  top: 3px;
}


/* For loader button */
.hide{
  display: none;
}

.error-input {
  font-weight: bold;
  color: #F44336 !important;
}

/* For the loading section */
div#loading {
  display: none;
  cursor: wait;
  padding-top: 200px;
}
div#loading img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.visu_button {
  text-transform:none;
  letter-spacing: normal;
  font-size: 14px;
}

.monomers_visu {
  position: relative;
  height: 340px;
}
.oligomers_visu {
  position: relative;
  height: 600px;
}

#screw_img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
}

p#rmsd {
  font-size: 110%;
}

.title_card_results{
  color:#CCB89D;
  font-size: 26px !important;
  font-weight: bold !important;
}

.core_li{
  display: inline-block;
  border-bottom: 1px dashed #888;
}

.screw_params td {
  padding: 10px 5px;
}

.axis_params td {
  padding: 3px 5px;
}

#button_residue {
  height: 27px;
  line-height: 27px;
  font-size: 12px;
}
